{% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none
    }
</style>
<div class="container-fluid">
    <div id="outprint">
        <div class="lh-1">
            <center><small class="fw-bold">Grocery POS</small></center>
            <center><small class="fw-bold">Unofficial Receipt</small></center>
        </div>
        <hr>
        <div class="lh-1">
            <div>
                <span>Data:</span> {{ transaction.date_added|date:"M d Y" }} <br>
                <span>Transaction Code:</span> {{ transaction.code }}
            </div>
        </div>
        <div class="clear-fix py-3"></div>
        <div class="lh-1">
            <div class="d-flex w-100 align-items-end border-bottom">
                <div class="col-2 text-center fw-bold">Qty</div>
                <div class="col-6 text-center fw-bold">Product</div>
                <div class="col-4 text-center fw-bold">Amount</div>
            </div>
            {% for item in salesItems %}
            <div class="d-flex w-100 align-items-end">
                <div class="col-2 text-center fw-bold">{{ item.qty|intcomma|floatformat:0 }}</div>
                <div class="col-6 fw-bold">
                    <div class="lh-1">
                        <small>{{ item.product_id }}</small><br>
                        <small>{{ item.price|intcomma }}</small><br>
                    </div>
                </div>
                <div class="col-4 text-end fw-bold">{{ item.total|intcomma }}</div>
            </div>
            {% endfor %}
            <hr>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Total</div>
                <div class="col-6 text-end fw-bold">{{ transaction.grand_total|intcomma }}</div>
            </div>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Tax <small>(inclusive)</small>: {{ transaction.tax|intcomma }}%</div>
                <div class="col-6 text-end fw-bold">{{ transaction.tax_amount|intcomma|floatformat:2 }}</div>
            </div>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Tendered</div>
                <div class="col-6 text-end fw-bold">
                    <input id="tendered_amount" type="number" name="amount" placeholder="Amount">
                </div>
            </div>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Change</div>
                <div class="col-6 text-end fw-bold" id="payment_change" >{{ transaction.amount_change|intcomma }}</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="clear-fix py-3"></div>
    <div class="d-flex w-100 justify-content-end">
        <button class="btn btn-light bg-gradient border rounded-0 btn-sm me-1" type="button" id="receipt_print"><i class="mdi mdi-save"></i> Save</button>
        <button class="btn btn-secondary bg-gradient border rounded-0 btn-sm" type="button" data-bs-dismiss="modal"><i class="mdi mdi-close"></i> Close</button>
    </div>
</div>
<script>
    $(function(){
        $('#tendered_amount').on('input keypress keyup keydown', function() {
            var tendered_amount = $('#tendered_amount').val()
            var payable = '{{transaction.grand_total|intcomma}}';
            tendered_amount = tendered_amount.replace(/,/gi, '')
            payable = payable.replace(/,/gi, '')
            var change = 0
            tendered_amount = tendered_amount > 0 ? tendered_amount : 0;
            $('[name="tendered_amount"]').val(tendered_amount)
            change = parseFloat(tendered_amount) - parseFloat(payable)
            console.log(tendered_amount, payable, change)
            document.getElementById('payment_change').innerHTML = parseFloat(change);
            // $('[name="amount_change"]').val(change)

        })

        $('#receipt_print').click(e=>{
            $.ajax({
                headers: {
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                url:"{% url 'update_receipt' %}",
                type:'POST',
                data:{code:'{{transaction.code}}', tendered_amount:$('#tendered_amount').val(),change:document.getElementById('payment_change').innerHTML},
            })
            .fail(e=>{
                alert(`Problem ${e.error}`)
            })
            
            .done(e=>{
                if (e.status == 'failed'){
                    alert('Insuficient Money.')
                }else{
                    uni_modal("Receipt", "{% url 'receipt-modal' %}?id=" + '{{transaction.id}}')
                }
                
            })
            // uni_modal("Receipt", "{% url 'receipt-modal' %}?id=" + '{{transaction.id}}')
        })
    })
</script>